:root {
  --primary-color: linear-gradient(90deg, #1d2b64 0%, #f8cdda 100%);
  --light-color: #f5f5f5;
  --dark-color: #e4e4e4;
  --btn-color: #f4a4d1;
  --text-dark-color: #3a3a3a;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --btn-edit-color: #6b818c;
  --btn-delete-color: #ef798a;
  --btn-submit: #234e35;
}
