@import "../../style/mixins.scss";

.home {
  .btn-editor-toggle {
    @include btn();
    background: var(--light-color);
  }

  .no-snippet {
    color: #f5f5f5;
    font-weight: 500;
    margin-top: 2rem;
  }
}
